<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="900" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>

    <body>
        <div class="hero is-dark is-fullheight">
            <div class="hero-body is-ligth">
                <div class="column is-centered">
                    <center>
                        <span class="column is-half">                      
                            <p class="title is-1">{%  block app_name %}{%  endblock %}</p>
                            {% block content %}  

                            {% endblock %}                    
                        </span>
                    </center>
                </div>                             
            </div>
        </div>

        <div class="hero is-link is-small">
            <section class="hero-body">
                <marquee direction="right" behavior="alternate">
                    <figure class="image is-48x48">
                        <img class="is-rounded" src="https://cdns-images.dzcdn.net/images/artist/c953904db57b899324c3b556a4def2d4/264x264.jpg">
                    </figure>
                </marquee>
            </section>
        </div>
    </body>
</html>